.menu_size {
    width: 80vh;
}

.menu_color {
    background-color: #1F1F1F;
}

.logo_image {
    height: 40vh;
}

.menu_image {
    height: 20vh;
    width: 20vh;
} 

.product {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.align_right {
    align-content: right;
    align-items: right;
    align-self: right;
    text-align: right;
    justify-content: right;
}

.product_button {
    height: 6vh;
    width: 6vh;
}

.color_white {
    color: white;
}