body {
    background-color: #7aa2b1;
}

.nav-link {
    color: #2e1619;
    font-size: 20px;
    text-transform: uppercase;
}

.hero {
    animation: backInLeft;
    animation-duration: 2s;
    padding: 20px;
    margin-top: 60px;
    margin-left: 30px;
}

.main {
    display: flex;
    height: 650px;
}

.heroText {
    align-content: center;
    padding-top: 120px;
    animation: backInRight;
    animation-duration: 2s;
    padding-right: 30px;
}

.restaurantName {
    font-size: 130px;
    color: #2e1619;
    font-family: 'Cherry Cream Soda', cursive;
    text-align: center;
}

.about,
.events {
    background-color: #1f1f1f;
    height: 650px;
}

.aboutUs {
    display: flex;
}

.aboutUsBlurb h3 {
    padding: 40px;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
}

.sectionTitles {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.menu {
    background-color: #1f1f1f;
    height: 700px;
}

.menuItems {
    text-align: center;
    width: 300px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-transform: uppercase;
}

.findUs {
    background-color: #1f1f1f;
    height: 500px;
}

.findUsLocations {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly
}

.card-text {
    text-align: center;
}

.icons {
    height: 200px;
    width: 200px;
    padding: 50px;
    text-align: center;
    margin-left: 150px;
    filter: invert(49%) sepia(73%) saturate(3294%) hue-rotate(163deg) brightness(97%) contrast(101%);

}



.form-group {
    font-size: 1rem;
    color: azure;
}

.optbutton {
    align-content: space-between;
    height: 75px;
    width: 150px;
    font-size: 1rem;

}

#color {
    color: azure;
}